/*
*
* SPDX-License-Identifier: MIT
*
*/

#define COMBO_LAYER(NAME, BINDINGS, KEYPOS, LAYERS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
    timeout-ms = <40>; \
};
#define COMBO_ANY(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    timeout-ms = <40>; \
};


combos {
    compatible = "zmk,combos";

/*    KEY POSITION Names for Zaphod
╭─────────────────────╮ ╭─────────────────────╮
│ LT4 LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3 RT4 │
│ LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 │
│ LB4 LB3 LB2 LB1 LB0 │ │ RB0 RB1 RB2 RB3 RB4 │
╰───────────╮ LH2 LH1 | | RH1 RH2 ╭───────────╯
            ╰─────────╯ ╰─────────╯
*/

//
// H Digraphs REQUIRE macros (defined earlier) to process
//
COMBO_LAYER(th,  &Th,   LM2 LM1,     l_alpha) // Th
COMBO_LAYER(ch,  &Ch,   LM3 LM2,     l_alpha) // Ch
COMBO_LAYER(wh,  &Wh,   LT3 LT2,     l_alpha) // Wh
COMBO_LAYER(sh,  &Sh,   LM3 LM1,     l_alpha) // Sh
COMBO_LAYER(gh,  &lk_gh H G,   LT2 LT1,     l_alpha) // Gh
COMBO_LAYER(ph,  &Ph,   LB3 LB1,     l_alpha) // Ph

         
/* type a glyph */

COMBO_LAYER(ligAE, &kp LA(APOS),    RM1 RB1, l_alpha) // ligature æ
COMBO_LAYER(ligOE, &kp LA(Q),       RM2 RB2, l_alpha) // ligature œ

COMBO_LAYER(diacAccent, &kp LA(E),  RM1 RM2, l_alpha) // ´
COMBO_LAYER(diacGrave, &kp LA(GRAVE), RM2 RM3, l_alpha) // `
COMBO_LAYER(diacAcute, &kp LA(N6),  RM1 RM3, l_alpha) // ˆ
COMBO_LAYER(diacMacron, &kp LA(A),  RM2 RM4, l_alpha) // ¯
COMBO_LAYER(diacCirc, &kp LA(K),    RM1 RM4, l_alpha) // ˚
COMBO_LAYER(diacUmlaut, &kp LA(U),  RB1 RB2, l_alpha) // ¨

COMBO_ANY(tab,  &kp TAB,        LM4 LM3)
COMBO_LAYER(typeQ, &lk_qu U Q,      LT3 LT1, l_alpha)
COMBO_LAYER(typeZ, &kp Z,           LT4 LT3, l_alpha)
COMBO_LAYER(typeColn, &lk LA(SEMI) COLON,    RT1 RT3, l_alpha)
COMBO_LAYER(typeSemi, &kp SEMI,     RM0 RM1, l_alpha)
COMBO_LAYER(typeExcl, &kp EXCL,     RT1 RT2, l_alpha)
COMBO_LAYER(typeQues, &kp QMARK,    RT2 RT3, l_alpha)
COMBO_LAYER(typeGrav, &kp GRAVE,    RT3 RT4, l_alpha)
COMBO_LAYER(typeatMk, &lk LS(LA(SEMI)) AT_SIGN,  RT0 RT1, l_alpha) // @ (№ if held)
COMBO_LAYER(typeUnder, &kp UNDER,   RB1 RB3, l_alpha) // _
COMBO_LAYER(typeEqual, &lk PRCNT EQUAL,   RB2 RB3, l_alpha) // = (percent if held)

};
